@import "reset";
@import "variables";

html {
  font-size: 62.5%;
  font-family: "Karla", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: $paleBlue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  &--mobile {
    display: none;
  }
}

@media only screen and (max-device-width: 375px) {
  html {
    font-size: 45.5%;
  }
  .bg--desktop {
    display: none;
  }
  .bg--mobile {
    display: block;
  }
}

.card {
  background-color: $veryPaleBlue;
  border-radius: 1.25rem;
  overflow: hidden;
  width: 45rem;
  margin: 5rem 0;
  .content {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .title {
      font-size: 2.5rem;
      font-weight: 900;
      color: $darkBlue;
      text-align: center;
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      color: $desaturatedBlue;
      text-align: center;
      margin: 2rem;
    }

    .payplan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 4rem 4rem 4rem;

      &--plan {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 2rem;

        img {
          grid-row: span 2;
        }

        &__type {
          font-size: 1.6rem;
          font-weight: 900;
          color: $darkBlue;
          grid-column: span 2;
        }
        &__price {
          font-size: 1.6rem;
          font-weight: 500;
          color: $desaturatedBlue;
          grid-column: span 2;
        }
      }

      a {
        font-size: 1.45rem;
        font-weight: 900;
        color: $brightBlue;
        &:active {
          color: $desaturatedBlue;
          text-decoration: none;
        }
      }
    }

    .btn {
      padding: 1.4rem;
      border: hidden;
      border-radius: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      &:hover {
        cursor: pointer;
      }
      &--payement {
        color: $veryPaleBlue;
        background-color: $brightBlue;
        box-shadow: 0 1.5rem 2rem 0 rgba($desaturatedBlue, 0.2);
        &:active {
            background-color: $desaturatedBlue;
        }
      }
      &--cancel {
        color: $desaturatedBlue;
        background-color: $veryPaleBlue;
        &:active {
            color: $darkBlue;
        }
      }
    }
  }
}
